@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
}
.homePage {
	background: #9B89F0;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #B7A8F7;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #C5C0FA;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #9897F0;
	margin: 0px;
	float: left;
	width: 100%;
	height: 400px;
	text-align: center;
}
.footer {
	background: #A4AAE0;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
