@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
}
.homePage {
	background: #9C8FF0;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #2B1C61;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #B7A8F7;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	text-align: center;
}
.content {
	background: #E6E3FC;
	margin: 0px;
	padding: 10;
	float: left;
	width: 100%;
	height: 400px;
	text-align: center;
}
.footer {
	background: #2B1C61;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
