@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
}
body {
     font: 100%/14ptx sans-serif;
     background-color: #000000;
     margin: 0;
     padding: 0;
     color: #02010A;
}

a:link {
     color: #0C041A;
}
a:visited {
     color: #6D25E6;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
.homePage {
	background: #9C8FF0;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #2B1C61;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
}
.nav {
	background: #B7A8F7;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	text-align: center;
}
.content {
	background: #E6E3FC;
	margin: 0px;
	padding: 10;
	float: left;
	width: 100%;
	height: 400px;
	text-align: center;
}
.footer {
	background: #2B1C61;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
